# Segmenting and Clustering Neighborhoods in Toronto - I

### Fetching the data from Wiki page and transforms into pandas dataframe

In [1]:
from bs4 import BeautifulSoup
import requests
import numpy as np
import pandas as pd
import urllib

Scrap neighborhood information from Wiki page and transforms into dataframe

In [2]:
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
canada_data = requests.get(url).text
 
tabla = canada_data[canada_data.find("<table"):canada_data.find("</table>")+8]
df = pd.read_html(tabla, header = 0)[0]

The dataframe will consist of three columns: PostCode, Borough, and Neighbourhood

In [3]:
df.dtypes

Postcode         object
Borough          object
Neighbourhood    object
dtype: object

Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.

In [4]:
df = df[df.Borough != "Not assigned"]

If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough.

In [5]:
df.Neighbourhood[df.Neighbourhood == "Not assigned"] = df.Borough[df.Neighbourhood == "Not assigned"]

Rows will be combined by Postcode to compose the name of all neighbourhoods.

In [7]:
def neighbourhood_list(grouped):    
    return ', '.join(sorted(grouped['Neighbourhood'].tolist()))
                    
grp = df.groupby(['Postcode', 'Borough'])
newDf = grp.apply(neighbourhood_list).reset_index(name='Neighbourhood')

In [8]:

newDf.shape

(103, 3)

Cleaned Dataframe

In [11]:
newDf = newDf.rename(columns = {'Postcode':'PostalCode'})
#newDf

In [12]:
newDf.head()

  PostalCode      Borough                           Neighbourhood
0        M1B  Scarborough                          Malvern, Rouge
1        M1C  Scarborough  Highland Creek, Port Union, Rouge Hill
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae